<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    메뉴입력화면
    <input type="text" id="menuName">
    <input type="number" id="price">
    <input type="file" id="file">
    <button id="submit">등록</button>
</body>
<script>
    let file = null;
    document.querySelector("#file")
        .addEventListener("change", (e)=>{
            file = e.target.files[0];
    });

    document.querySelector("#submit")
        .addEventListener("click", ()=>{
            const form = new FormData();
            form.append("menuName", document.querySelector("#menuName").value);
            form.append("price", document.querySelector("#price").value);
            form.append("files", file);

            $.ajax({
                type: 'post',
                url: '/menuApi/addNew',
                data: form,
                enctype: 'multipart/form-data',
                processData:false,
                contentType:false,
                cache:false,
                success(){
                    console.log("ok");
                },
                error(e){
                    console.error(e);
                }
            })

        })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</html>